<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodologias Agile</title>
</head>

<body>
    <h1>Metodologias Agile</h1>
    <% for(let i=0;i<dados.length;i++){ %>
        <p>
            <%=dados[i].conteudo %>
        </p>
    <%}%>
</body>

</html>