<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>
        Cadastre a Tecnologia
    </h1>
    <form action="/salvardados" method="post">
    Categoria: <input type="text" name="categoria"><br />
    Conteúdo: <input type="text" name="conteudo"><br />
    <input type="Submit" value="Enviar">
    </form>
</body>
</html>